@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

body {
    font-family: 'Cinzel Decorative', cursive;
}

img {
    border-radius: 50%;
    height: 100px;
}

tr {
    margin-bottom: 10px;
}

input[type=text], input[type=number] {
    border: none;
    height: 30px;
    width: 100px;
    font-family: 'Cinzel Decorative', cursive;
}

.title {
    text-align: center;
    font-size: 50px;
}

.content {
    position: absolute;
    left: 30%;
  }

.person {
    background-color: #734D2C;
    padding: 10px;
}

#detailsButton {
    height: 30px;
    width: 80px;
    border: none;
    font-family: 'Cinzel Decorative', cursive;
    background-color: #D9C541;
    color: #000;
    font-weight: bold;
}

#detailsButton:hover {
    background-color: #000;
    color: #D9C541;
}


#modifyButton {
    height: 30px;
    width: 80px;
    border: none;
    font-family: 'Cinzel Decorative', cursive;
    background-color: #D97941;
    color: #000;
    font-weight: bold;
}

#modifyButton:hover {
    background-color: #000;
    color: #D97941;
}