@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

body {
    background-image: url('../img/got.gif');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cinzel Decorative', cursive;
}

table, tr, td {
    border-collapse: collapse;
    background-color: #D97941;
}


td {
    text-align: center;
    color: black;
    width: 200px;
}

.title {
    font-weight: bold;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tableBorder {
    padding: 20px;
    background-color: #D97941;
}

#backButton {
    height: 30px;
    width: 100px;
    border: none;
    font-family: 'Cinzel Decorative', cursive;
    background-color: #D97941;
    color: #000;
    font-weight: bold;

}

#backButton:hover {
    background-color: #000;
    color: #D97941;
}
